<header>
  <div>Kimberlie Floyd</div>
  <ul>
    <li>About</li>
    <li>Work</li>
  </ul>
</header>

<body>
  <div>This is my portfolio</div>
  <div><button><View my Work<button></div>
</body>

<footer>
  <a href=google.com>Google</a>
  <a href=facebook.com>Facebook</a>
  copyright Kimberlie Floyd, 2020
</footer>